.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

/* src/components/Main.css */

/* Large Screens (1024px and up) */
@media (min-width: 1024px) {
  .ad-banner-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 120px; /* Adjust as needed */
    height: 100%;
    background-color: transparent;
    z-index: 40; /* Ensure it appears above other elements */
  }

  .ad-banner-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 120px; /* Adjust as needed */
    height: 100%;
    background-color: transparent;
    z-index: 40; /* Ensure it appears above other elements */
  }

  .main-content {
    margin-left: 120px; /* Same as ad banner width */
    margin-right: 120px; /* Same as ad banner width */
  }
}

/* Small and Medium Screens (below 1024px) */
@media (max-width: 1023px) {
  .ad-banner-left,
  .ad-banner-right {
    display: none;
  }

  .main-content {
    margin-left: 0;
    margin-right: 0;
  }
}
